@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: hsl(0, 0%, 100%);
        --foreground: hsl(0, 0%, 0%);
        --skeleton: hsl(0, 0%, 90%);
        --border: hsl(220, 20%, 90%);
        --btn-border: hsl(214deg, 31.8%, 91.4%);
        --input: hsl(220, 20%, 90%);

        --radius: 0.5rem;

        /* Adapta Color Palette */
        --sage-primary: #7FB685;
        --sage-light: #A8D5BA;
        --sage-border: #E8EDE8;
        --primary: #2D3E35;
        --bg-main: #F8FAF9;
    }

    .dark {
        --background: hsl(222, 94%, 5%);
        --foreground: hsl(0, 0%, 100%);
        --skeleton: hsl(218, 36%, 16%);
        --border: hsl(220, 20%, 90%);
        --btn-border: hsl(217deg, 32.6%, 17.5%);
        --input: hsl(219, 63%, 16%);

        --radius: 0.5rem;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .g-button {
        @apply rounded-[var(--radius)] border;
        border-color: var(--btn-border)
    }
}